
body{
    background-color: #f5f7fa;
}
/* head title */
#title{
    color: rgb(44, 44, 54);
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    
   
}

/* card style */
.card{

    background-color: #0044ff11;
    padding: 20px;
    border: 0;
    border-radius: 10px;
}


/* card image in body */
.img-body{
    border-radius: 40px;
}

/* alerts */
.alert{
    color: rgba(243, 16, 0, 0.726);
    text-align: center;
    display: none;
    font-size: 40px;
}


