
/* head title */
#title{
    color: rgb(159, 78, 235);
    text-align: center;
    margin-top: 10px;
   
}

.card{
    background-color: rgb(199, 221, 230);
}


/* card image in body */
.img-body{
    border-radius: 45px;
}

/* alerts */
.alert{
    color: red;
    text-align: center;
    display: none;
}


